@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../imagens/Devocional-Charles-Spurgeon.jpg) no-repeat;
    background-size: contain;
    background-attachment: fixed;
}