@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

table{
    margin: auto;
    width: 200px;
    border-collapse: collapse;
}

th{
    background-color: bisque;
    border-radius: 10px 10px 0px 0px;
    color: rgb(255, 77, 77);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.324);
    font-weight: bolder;
}

tbody{
    background-color: antiquewhite;
}

td{
    padding: 5px;
}

td > a{
    font-weight: bolder;
    text-decoration: none;
    color: darkorange;
}